In [1]:
import pandas as pd
import numpy as np
import urllib2
from bs4 import BeautifulSoup
from imdbpie import Imdb
from time import sleep
import time
import requests
import string
import csv
import json

In [ ]:
# scrapes shows between 2000 and 201

all_shows = []
for page in range(1,111):
    url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=2000,2015&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
    soup2000 = BeautifulSoup(url2000)
    sleep(5)
    for table in soup2000('div', {'class': 'lister-list'}):
        for span in table('span', {'class': 'lister-item-header'}):
            for title in span('a'):
                imdbid = str(title).split('/')[2]
                name = str(title).split('>')[1].split('<')[0]
                all_shows.append([imdbid,name])

In [ ]:
showsdf = df.DataFrame(all_shows, columns=['imdbid', 'title'])

In [36]:
shows2015 = []

for table in soup2000('div', {'class': 'lister-list'}):
#     print table.prettify()
    counter += 1
    for span in table('span', {'class': 'lister-item-header'}):
#         print span.prettify()
        for title in span('a'):
#             print title.prettify()
            imdbid = str(title).split('/')[2]
            name = str(title).split('>')[1].split('<')[0]
            shows2015.append([imdbid, name])
#             print name

In [37]:
len(shows2015)

50

In [39]:
pd.DataFrame?

In [41]:
new_shows = pd.DataFrame(shows2015, columns=['id', 'title'])

In [42]:
new_shows.head()

          id               title
0  tt3524810       Point Society
1  tt4798620        The Pioneers
2  tt4908938  Star Trek: Outlaws
3  tt4655474          Joking Off
4  tt4708572   American Scandals