In [1]:
import pandas as pd
import numpy as np
import urllib2
from bs4 import BeautifulSoup
from imdbpie import Imdb
from time import sleep
import time
import requests
import string
import csv
import json

In [55]:
def list_to_df(list_of_shows, year):
    temp_df = pd.DataFrame(list_of_shows, columns=['id', 'title'])
    df_name = "shows_" + str(year) + '.csv'
    temp_df.to_csv(df_name)

In [ ]:
# scrapes shows between 2000 and 2015
## maybe do it by year
## this doesn't work for some reason

# all_shows = []
# for page in range(1,111):
#     url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=2000,2015&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
#     soup2000 = BeautifulSoup(url2000)
#     print "scraping page :"
#     print page,
#     for table in soup2000('div', {'class': 'lister-list'}):
#         for span in table('span', {'class': 'lister-item-header'}):
#             for title in span('a'):
#                 imdbid = str(title).split('/')[2]
#                 name = str(title).split('>')[1].split('<')[0]
#                 all_shows.append([imdbid,name])
#                 sleep(1)
#     sleep(1)

In [49]:
# 2015 shows

shows2015 = []
print "Scraped Page: "
for page in range(1,11):
    url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=2015,2015&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
    soup2000 = BeautifulSoup(url2000)
    for table in soup2000('div', {'class': 'lister-list'}):
        for span in table('span', {'class': 'lister-item-header'}):
            for title in span('a'):
                imdbid = str(title).split('/')[2]
                name = str(title).split('>')[1].split('<')[0]
                shows2015.append([imdbid, name])
                sleep(1)
    sleep(2)
    print page,

Scraped Page:
1 2 3 4 5 6 7 8 9 10

In [56]:
list_to_df(shows2015, 2015)

In [50]:
## 2014 shows

shows2014 = []
print "Scraped Page: "
for page in range(1,11):
    url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=2014,2014&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
    soup2000 = BeautifulSoup(url2000)
    for table in soup2000('div', {'class': 'lister-list'}):
        for span in table('span', {'class': 'lister-item-header'}):
            for title in span('a'):
                imdbid = str(title).split('/')[2]
                name = str(title).split('>')[1].split('<')[0]
                shows2014.append([imdbid, name])
                sleep(1)
    sleep(5)
    print page,

Scraped Page:
1 2 3 4 5 6 7 8 9 10

In [57]:
list_to_df(shows2014, 2014)

In [51]:
## 2013 shows

shows2013 = []
print "Scraped Page: "
for page in range(1,11):
    url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=2013,2013&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
    soup2000 = BeautifulSoup(url2000)
    for table in soup2000('div', {'class': 'lister-list'}):
        for span in table('span', {'class': 'lister-item-header'}):
            for title in span('a'):
                imdbid = str(title).split('/')[2]
                name = str(title).split('>')[1].split('<')[0]
                shows2013.append([imdbid, name])
                sleep(1)
    sleep(2)
    print page,

Scraped Page:
1 2 3 4 5 6 7 8 9 10

In [58]:
list_to_df(shows2013, 2013)

In [52]:
len(shows2013)

2500

In [53]:
## 2012 shows
years = '2012,2012'
shows2012 = []
print "Scraped Page: "
for page in range(1,11):
    url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=' + years + '&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
    soup2000 = BeautifulSoup(url2000)
    for table in soup2000('div', {'class': 'lister-list'}):
        for span in table('span', {'class': 'lister-item-header'}):
            for title in span('a'):
                imdbid = str(title).split('/')[2]
                name = str(title).split('>')[1].split('<')[0]
                shows2013.append([imdbid, name])
                sleep(1)
    sleep(2)
    print page,

Scraped Page:
1 2 3 4 5 6 7 8 9 10

In [59]:
list_to_df(shows2012, 2012)

In [54]:
## 2011 shows
year = '2011'
years = year + ',' + year
shows2011 = []
print "Scraped Page: "
for page in range(1,11):
    url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=' + years + '&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
    soup2000 = BeautifulSoup(url2000)
    for table in soup2000('div', {'class': 'lister-list'}):
        for span in table('span', {'class': 'lister-item-header'}):
            for title in span('a'):
                imdbid = str(title).split('/')[2]
                name = str(title).split('>')[1].split('<')[0]
                shows2013.append([imdbid, name])
                sleep(1)
    sleep(2)
    print page,

Scraped Page:
1 2 3 4 5 6 7 8 9 10

In [60]:
list_to_df(shows2011, 2011)

In [37]:
len(shows2015)

50

In [ ]:
## scrape all years

## I made a better way of doing this

# for i in range(1995,2017):
#     year = str(i)
#     years = year + ',' + year
#     shows_temp = []
#     print "Scraping year: ", year
#     print "Scraped Page: "
#     for page in range(1,11):
#         url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=' + years + '&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
#         soup2000 = BeautifulSoup(url2000)
#         for table in soup2000('div', {'class': 'lister-list'}):
#             for span in table('span', {'class': 'lister-item-header'}):
#                 for title in span('a'):
#                     imdbid = str(title).split('/')[2]
#                     name = str(title).split('>')[1].split('<')[0]
#                     shows_temp.append([imdbid, name])
#                     sleep(2)
#         sleep(5)
#         print page,
#     temp_df = pd.DataFrame(shows_temp, columns=['id', 'title'])
#     df_name = "shows_" + year + '.csv'
#     temp_df.to_csv(df_name)

In [72]:
## function for scraping a single year
## scrapes 2500 shows for the given year
## exports as dataframe with name 'shows_[year].csv'

def scrape_year(year):
    year = str(year)
    years = year + ',' + year
    shows_temp = []
    print "Scraping Year: ", year
    print "Scraped Pages: "
    for page in range(1,11):
        url2000 = urllib2.urlopen('http://www.imdb.com/search/title?count=250&countries=us&languages=en&production_status=released&release_date=' + years + '&title_type=tv_series&view=simple&sort=release_date,desc&page=' + str(page) + '&ref_=adv_nxt')
        soup2000 = BeautifulSoup(url2000)
        for table in soup2000('div', {'class': 'lister-list'}):
            for span in table('span', {'class': 'lister-item-header'}):
                for title in span('a'):
                    imdbid = str(title).split('/')[2]
                    name = str(title).split('>')[1].split('<')[0]
                    shows_temp.append([imdbid, name])
        print page,
        sleep(5)
    temp_df = pd.DataFrame(shows_temp, columns=['id', 'title'])
    df_name = "shows_" + year + '.csv'
    temp_df.to_csv(df_name)
    print "csv file created for year ", year

In [ ]:
scrape_year(2016)

In [63]:
scrape_year(2016)

Scraping year:  2016
Scraped Page:
1 2 3 4 5 6 7 8 9 10

In [69]:
scrape_year(2010)

Scraping Year:  2010
Scraped Pages:
1 2 3 4 5 6 7 8 9 10

In [73]:
## I don't know for sure whether the earlier years have 2500 shows each
## running them in reverse chronological order seems safest

for i in range(2009, 1994, -1):
    scrape_year(i)

Scraping Year:  2009
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2008
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2007
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2006
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2005
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2004
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2003
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2002
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2001
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  2000
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  1999
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  1998
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  1997
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  1996
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created
Scraping Year:  1995
Scraped Pages:
1 2 3 4 5 6 7 8 9 10 csv file created

In [41]:
new_shows = pd.DataFrame(shows2015, columns=['id', 'title'])

In [42]:
new_shows.head()

          id               title
0  tt3524810       Point Society
1  tt4798620        The Pioneers
2  tt4908938  Star Trek: Outlaws
3  tt4655474          Joking Off
4  tt4708572   American Scandals